*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
body{
    background: rgb(197,205,182);
    background: linear-gradient(90deg, rgba(197,205,182,1) 9%, rgba(213,228,189,1) 25%, rgba(228,230,227,1) 40%, rgba(184,195,178,1) 64%, rgba(195,205,180,1) 86%);
}
.container{
    width: 100%;
}
/*Menu*/
nav ul li{
    display: inline-block;
    width: 130px;
    margin: auto 40px auto 10px;
    padding:15px 10px 15px 10px;
}
.menuItem a{
    color: #FDFDFD;
    font-size: 20px;
    float:left;
    text-decoration: none;
    /* font-weight: 400; */
    transition: 0.5s;
}
.menuItem a:hover{
    border-bottom: 5px solid #f1804d;
}
.active{
    border-bottom: 5px solid #f1804d;
}
.name{
    font-size: 30px;
    float:left;
    text-decoration: none;
    margin:auto 29% auto 60px;
    padding-top: 10px;
    padding-bottom:10px;
}
.name a{
    text-decoration: none;
}
.menuItem a i{
    padding-top: auto;
    padding-bottom: auto;
}
/*Main*/
.main{
    margin-top:150px ;
}

.heading-one{
    margin: 0 auto 50px 100px;
    text-align: justify;
    font-size: 55px;
    font-weight: 600;
    word-spacing: 10px;
    letter-spacing: 5px;
}

.foodP p{
    text-align:justify;
    margin-left:100px;
    line-height:25px;
}
.btn{
    color: #ffffff;
    width: 150px;
    height: 50px;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 50px;
    margin-top: 50px;

}
.menu-btn{
    background-color:#f1804d ;
    border: 1px solid #f1804d;
    margin-left: 100px;
}
.book-btn{
    background-color:#adaf9a ;
    border: 1px solid #adaf9a;
    margin-left: 20px;
}
.food-img img{
    display: block;
    width: 100%;
    margin: auto;
}
/* Top List Food */
.foodlist h1{
    text-align: center;
    font-size: 60px;
    font-weight: 400;
}
.foodlist p{
    text-align: center;
    margin-top: 15px;
}
.card{
    background-color: #fdfdfd3a;
    border-radius: 50px;
    margin: 30px 50px 20px 30px;
    padding: 30px;
}
.card i{
    font-size: 20px;
    margin-bottom: 15px;
}
.card span,.card > i{
    color: #fab402;
}
.card span{
    padding-left: 10px;
}
.card h3{
    text-transform: uppercase;
}
.card p{
    text-align: justify;
    margin-bottom: 40px;
}
.card img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Show Food */
.sec-main{
    padding-bottom: 300px;
}
.sec-fimg img{
    width: 100%;
}
.sec-fpara{
    margin-top: 100px;
}
.sec-fpara h1{
    font-size: 60px;
    font-weight: 400;
    margin-left:60px;
}
.sec-fpara p{
    text-align:justify;
    padding: 30px 60px 40px 60px;
}
.check-btn{
    background-color:#f1804d ;
    border: 1px solid #f1804d;
    margin-left: 60px;
}

/*Service*/
.service{
    margin-top: 900px;
    margin-bottom: 300px;
}
.service h1{
    font-size: 50px;
    font-weight: normal;
    padding-top: 30px ;
    padding-bottom: 40px ;
    text-align: center;
}
.ser-card{
    background-color: #fdfdfd3a;
    border-radius: 50px;
    margin: 30px 50px 20px 30px;
    padding: 30px;
}
.ser-card i{
    font-size: 80px;
}
.ser-card h5{
    margin-top: 30px;
    text-align: center;
}

/* Footer */
.footer{
    padding:50px 50px 50px 0;
    color:#f0f9ff;
    background-color:rgba(128, 128, 128, 0.63);
}
.footer h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer ul a {
    color:#f0f9ff;
    text-decoration:none;
}

.footer ul a:hover {
    color: #fab402;
}
.footer .copyright {
    text-align:center;
    font-size:13px;
    margin-bottom:0;
}

.footer .item.social {
    text-align:center;
}
.icon{
    color: #ffffff;
    font-size: 30px;
    padding-top: 30px;
    padding-right:40px;
    transition: 1s;
}
.icon:hover{
    color: #f1804d;
    font-size: 40px;
}
.copyright{
    margin-top: 20px;
}

/* For Desktop */
.col-6{
    width:50%;
    float: left;
}
.col-4{
    width: 33.33%;
    float: left;
}
.col-3{
    width: 25%;
    float: left;
}
.col-12{
    width: 100%;
    float: left;
}
/*Mobile*/

@media screen and (max-width:450px) {
    .name{
        display: block;
    }
    .menuItem{
        width: 100%;
        margin-bottom: 10px;
    }
    .col-6{
        width: 100%;
    }
    .col-4{
        width: 100%;
    }
    .col-3{
        width: 100%;
    }
    .heading-one{
        margin: 20px 15px 20px 15px;
        word-spacing: 5px;
        letter-spacing: 3px;
    }
    .foodP p{
        margin:15px;
    }
    .main{
        margin-top: 30px;
    }
    .menu-btn,.book-btn{
        display: inline-block;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .footer{
        
    }
}